@font-face{
  font-family: "Helvetica";
  font-weight: 400 ;
  font-style: normal;
  src: url("../fonts/helvetica.woff2") format('woff2'),
  url("../fonts/Helvetica.ttf") format('ttf');
}
@font-face{
  font-family: "Helvetica";
  font-weight: 700 ;
  font-style: normal;
  src: url("../fonts/helvetica-bold.woff2") format('woff2'),
  url("../fonts/Helvetica-Bold.ttf") format('ttf');
}